# PORT=5000

# CLERK_SECRET_KEY=your_clerk_secret_key_here
# CLERK_WEBHOOK_SECRET=whsec_5BrsVWYkGOWWX18YyWrqwv2ZUhmqRpYO

# # URL of the Computer B external AI server
# AI_NGROK_URL=""

# # MongoDB Configuration
# MONGO_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/deepfake_db"

# # Supabase Configuration
# # Found in Project Settings -> API
# SUPABASE_URL="https://your-project-id.supabase.co"
# SUPABASE_KEY="your-supabase-service-role-key" 
# SUPABASE_BUCKET_NAME="deepfake-media"
